.demo
{
    padding: 7rem 0;
    h4
    {
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 18px;
        font-size: 16px;
        border-radius: 4px;
        margin-bottom: 12px;
        display: inline-block;
        padding: 7px 14px;
        background-color: rgb(34, 33, 33);
        box-shadow: var(--shadow-lighter);
        span
        {
            background: linear-gradient(90deg, rgba(154,44,222,1) 0%, rgba(255,48,254,1) 35%, rgba(192,12,67,0.9223039557619923) 100%, rgba(0,0,0,0.9951330874146533) 100%, rgba(107,35,61,1) 100%);
            background-clip: text;
            color: transparent;
        }
    }
    h2
    {
        line-height: 1.23;
        color: white;
        font-size: 4rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    p
    {
        font-family: var(--font-primary);
        padding: 0 22%;
        font-size: 25px;
        line-height: 1.7;
        margin-bottom: 40px;
        color: #acacac;
        margin-bottom: 3rem;
    }

    .row
    {
        padding-top: 5rem;
        .col-lg-4
        {
            border: 2rem solid #1E1E1E;
            border-radius: 1rem;
            width: 32%;
            transition: 1s;
            img
            {
                border-radius: 1rem;
            }
            h5
            {
                margin-top: 25px;
                font-size: 20px;
                letter-spacing: 0.5px;
                color: white;
                font-weight: 600;
            }
            &:hover
            {
                transform: translateY(-1rem);
            }
        }
    }
}